


  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="box-shadow: 2px 2px 7px #ccc">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Destinos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Servicios</a>
          </li>
          <li class="nav-item dropdown">
            <a  class="nav-link" href="#">
              Contactos
            </a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link items-nav" href="#" (click)="logout()">Salir</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>

  