.centrado{
    display: grid;
    justify-content: center;
    align-items: center;
}

.items-nav{
    color: #193467!important;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
}

.items-nav:hover{
    color: #1E68F3!important;
}