.footer{
    background-color: #193467;
    color: #fff;
    padding: 3em 2em;
}

.copy{
    background-color: #33353a;
    color: #fff;
}

.texto-copy-left{
    text-align: left;
    padding: 1em;
    font-weight: 500;
    margin: 0;
}

.texto-copy-right{
    text-align: right;
    padding: 1em;
    font-weight: 500;
    margin: 0;
}

.enlaces{
    
    font-weight: bold;
    font-size: 18px;
}

.separador-footer{
    padding: 0.5em;
    
}

.texto-footer{
    font-family: Under-Station;
}

.alineador{
    
    align-items: center;
    display: grid;
}

@media only screen and (max-width : 991px) {
    .texto-copy-left{
        text-align: center;
    }
    .texto-copy-right, .separador-footer{
        text-align: center;
    }
}