<div class="footer">
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-12">
            
        </div>
        <div class="col-lg-4 col-12">
            <div class="row">
                <div class="col-12 separador-footer">
                    <span class="enlaces">Destinos</span>
                </div>
                <div class="col-12 separador-footer">
                    <span class="enlaces">Servicios</span>
                </div>

            </div>
           
        </div>
        <div class="col-lg-4 col-12">
            <div class="row">
                <div class="col-12 separador-footer">
                    <span class="enlaces"><i class="fa fa-envelope" aria-hidden="true"></i> thelastrip@correo.com</span>
                </div>
                <div class="col-12 separador-footer">
                    <span class="enlaces"><i class="fa fa-phone" aria-hidden="true"></i> teléfono: +595961886332 o +595981238553</span>
                </div>
            </div>
           
            
        </div>
    </div>
</div>
</div>

<div class="col-12 copy">
<div class="container">
<div class="row">
    <div class="col-lg-6">
        <p class="texto-copy-left">Copyright 2024</p>
    </div>
    <div class="col-lg-6">
            <p class="texto-copy-right">Derechos Reservados</p>
    </div>
</div>
</div>
</div>